.loginButtons-wrapper {
  padding: var(--mantine-spacing-xs);
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.loginButtons-welcome {
  font-weight: 600;
}
