@use '../../styles/mixins.scss' as *;

.mantine-Carousel-control {
  width: 50px;
  height: 50px;
  @include flex-center;
  //   svg {
  //     width: 32px;
  //     height: 32px;
  //   }

  //   top: 50% !important;
  transform: translateY(-50%);
}

.navCarousel-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.navCarousel-card {
  img {
    transition: transform 0.3s ease, border-radius 0.4s ease;
  }

  &:hover {
    img {
      border-radius: var(--mantine-radius-xs);
    }

    .navCarousel-label {
      @include hover-color;
    }
  }
}
