@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as var;

.mantine-Carousel-control {
  width: 50px;
  height: 50px;
  @include flex-center;
  //   svg {
  //     width: 32px;
  //     height: 32px;
  //   }

  //   top: 50% !important;
  transform: translateY(-50%);
}

.navCarousel-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.navCarousel-label {
  @include hover-color;
}

.navCarousel-card {
  img {
    transition: transform 0.3s ease, border-radius 0.5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &:hover {
    img {
      border-radius: var(--mantine-radius-xs);
    }

    &::after {
      opacity: 0;
    }

    .navCarousel-label {
      // @include hover-color;
      color: black;
    }
  }
}
