.modal-title-group {
  flex: 1;
}

.modal-help-icon {
  margin-left: auto;
}

.modal-scrollable-body {
  &::-webkit-scrollbar {
    display: none;
  }
}

.payment-options-box {
  border: 1px solid var(--mantine-color-gray-3);
  border-top: none;
  padding: var(--mantine-spacing-md);
  cursor: pointer;

  &:first-of-type {
    border-top: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-xs) var(--mantine-radius-xs) 0 0;
  }

  &:last-of-type {
    border-radius: 0 0 var(--mantine-radius-xs) var(--mantine-radius-xs);
  }

  &.active {
    outline: 1px solid var(--mantine-color-red-6);
    outline-offset: -1px;
  }
}
