@use 'variables.scss' as var;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gray-border($property: border) {
  #{$property}: 1px solid var.$gray6;
}

@mixin hover-color {
  color: var.$gray7;
}

@mixin active-font-weight {
  font-weight: 600;
}

@mixin active-background {
  background-color: var.$gray2;
}

@mixin active-background-hover {
  background-color: var.$gray3;
}
