$primaryred: rgba(211, 4, 59, 1);
$darkred: rgba(116, 39, 62, 1);
$red: rgba(232, 65, 50, 1);
$lightred: rgba(255, 204, 199, 1);
$darkgreen: rgba(36, 56, 33, 1);
$lightgreen: rgba(216, 227, 222, 1);
$darkblue: rgba(18, 51, 71, 1);
$lightblue: rgba(222, 222, 227, 1);
$lightturquoise: rgba(189, 220, 216, 1);
$darkgrey: rgba(134, 120, 113, 1);
$lightgrey: rgba(222, 222, 227, 1);
$lightbeige: rgba(218, 211, 204, 1);

$gray1: rgba(248, 249, 250, 1);
$gray2: rgba(241, 243, 245, 1);
$gray3: rgba(233, 236, 239, 1);
$gray4: rgba(222, 226, 230, 1);
$gray5: rgba(206, 212, 218, 1);
$gray6: rgba(173, 181, 189, 1);
$gray7: rgba(134, 142, 150, 1);
$gray8: rgba(73, 80, 87, 1);
$gray9: rgba(52, 58, 64, 1);

// $primaryred: #d3043b;
// $darkred: #74273e;
// $red: #e84132;
// $lightred: #ffccc7;
// $darkgreen: #243821;
// $lightgreen: #d8e3de;
// $darkblue: #123347;
// $lightblue: #DEDEE3;
// $lightturquoise: #bddcd8;
// $darkgrey: #867871;
// $lightgrey: #dedee3;
// $lightbeige: #dad3cc;

// $gray1: #f8f9fa;
// $gray2: #f1f3f5;
// $gray3: #e9ecef;
// $gray4: #dee2e6;
// $gray5: #ced4da;
// $gray6: #adb5bd;
// $gray7: #868e96;
// $gray8: #495057;
// $gray9: #343a40;

// $radius: 0.8rem;

// $font-arastin-pro: 'ArastinPro', 'Lucida Handwriting', cursive;
// $font-arastin-script: 'ArastinScript', 'Lucida Handwriting', cursive;
// $font-arastin-std: 'ArastinStd', 'Georgia', 'Times New Roman', serif;
// $font-mixone: 'Mixone', 'Georgia', 'Times New Roman', serif;
// $font-tommy: 'Tommy', 'Arial', 'Helvetica', sans-serif;
