$mainred: #d3043b;
$darkred: #74273e;
$red: #e84132;
$lightred: #ffccc7;
$darkgreen: #243821;
$lightgreen: #d8e3de;
$darkblue: #123347;
$lightblue: #123347;
$lightturquoise: #bddcd8;
$darkgrey: #867871;
$lightgrey: #dedee3;
$lightbeige: #dad3cc;

$gray1: #f8f9fa;
$gray2: #f1f3f5;
$gray3: #e9ecef;
$gray4: #dee2e6;
$gray5: #ced4da;
$gray6: #adb5bd;
$gray7: #868e96;
$gray8: #495057;
$gray9: #343a40;

// $radius: 0.8rem;

// $font-arastin-pro: 'ArastinPro', 'Lucida Handwriting', cursive;
// $font-arastin-script: 'ArastinScript', 'Lucida Handwriting', cursive;
// $font-arastin-std: 'ArastinStd', 'Georgia', 'Times New Roman', serif;
// $font-mixone: 'Mixone', 'Georgia', 'Times New Roman', serif;
// $font-tommy: 'Tommy', 'Arial', 'Helvetica', sans-serif;
