@use '../../styles/variables.scss' as var;

.heroWrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
  object-position: center;

  &.top-position {
    object-position: 75% 5%;
  }
  &.center-position {
    object-position: 75% 25%;
  }
  &.bottom-position {
    object-position: 75% 35%;
  }
}

.heroOverlay {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;

  width: 50%;

  display: flex;
  align-items: flex-end;
  //   background-color: var.$darkred;
  background-color: rgba(var.$darkred, 0.85);

  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
