@use '../../../styles/variables.scss' as var;

.baseButton {
  border-radius: var(--mantine-radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  margin: 0;

  /* ===== SIZE MODIFIERS ===== */
  &--sm {
    min-width: 80px;
  }

  &--md {
    min-width: 100px;
  }

  &--lg {
    min-width: 140px;
  }

  /* ===== VARIANTS ===== */
  &--primary {
    background-color: var.$primaryred;
    color: white;

    &:hover {
      background-color: var.$red;
    }
  }

  &--secondary {
    background-color: white;
    border: 1px solid var.$gray6;
    color: black;

    &:hover {
      background-color: var.$gray2;
    }
  }

  &--danger {
    background-color: var.$lightred;
    color: var.$darkred;

    &:hover {
      background-color: var.$lightbeige;
    }
  }

  &--ghost {
    background-color: transparent;
    color: var.$darkgrey;

    &:hover {
      background-color: var.$gray2;
    }
  }

  /* ===== FULL WIDTH ===== */
  &--full {
    width: 100%;
    min-width: 0;
  }
}
