@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as var;

.mantine-Carousel-control {
  width: 44px;
  height: 44px;
  @include flex-center;
  //   svg {
  //     width: 32px;
  //     height: 32px;
  //   }

  //   top: 50% !important;
  transform: translateY(-50%);
}

.navCarousel-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.navCarousel-label {
  // @include hover-color;
  color: black;
}

.navCarousel-card {
  overflow: hidden;

  img {
    overflow: hidden;
    transition:
      transform 0.3s ease,
      border-radius 0.3s ease;
    border-radius: var(--mantine-radius-md);
  }

  &:hover {
    img {
      overflow: hidden;
      border-radius: 0;
      transform: scale(1.1);
    }

    .navCarousel-label {
      text-decoration: underline;
    }
  }
}
