@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as var;

.mantine-Carousel-control {
  width: 44px;
  height: 44px;
  @include flex-center;
  transform: translateY(-50%);
}

.navCarousel-link {
  text-decoration: none;
  display: block;
}

.navCarousel-card {
  overflow: hidden;

  img {
    overflow: hidden;
    transition:
      transform 0.3s ease,
      border-radius 0.3s ease;
    border-radius: var(--mantine-radius-md);
  }

  &:hover {
    img {
      overflow: hidden;
      border-radius: 0;
      transform: scale(1.1);
    }
  }
}
