@use '../../styles/variables.scss' as var;

.searchBar {
  max-width: 400px;

  & input {
    border: 1px solid var.$gray5;
    border-radius: var(--mantine-radius-xl);

    height: 40px;
    font-size: 14px;
    color: var.$darkred;

    &:focus {
      border-color: var.$darkred;
    }
  }
}

.searchBar-icon {
  color: var.$darkred;
}
