@use '../../styles/variables.scss' as var;

.searchBar-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;

  &.open {
    width: 300px;

    @media (max-width: 768px) {
      width: 200px;
    }
  }

  &:not(.open) {
    width: auto;
  }
}

.searchBar {
  width: 100%;
  animation: slideIn 0.3s ease;

  & input {
    border: 1px solid var.$gray5;
    border-radius: var(--mantine-radius-xl);
    background-color: white;

    height: 40px;
    font-size: 14px;
    color: var.$darkred;

    &:focus {
      border-color: var.$darkred;
    }
  }
}

.searchBar-icon {
  color: var.$darkred;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
