@use '../../styles/variables.scss' as var;

.searchBar {
  max-width: 400px;

  & input {
    border: 0;
    border-radius: var(--mantine-radius-xl);
    border: 1px solid white;

    height: 40px;
    font-size: 14px;
    color: var.$darkred;

    &:focus {
      border-color: var.$darkred;
    }
  }
}

.searchBar-icon {
  color: var.$darkred;
}

.searchBar-home-page {
  position: absolute;
  bottom: 0;
  left: 1rem;
  right: 1rem;
}
