@use '../../styles/variables.scss' as var;

.header {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var.$primaryred;
  border: none;
}

.logo {
  flex: 1;
  font-weight: 600;
  color: white;
}
