@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as *;

/* ===== Overlay bakom navbar ===== */
.overlay {
  position: fixed;
  inset: 0;
  z-index: 100;
}

/* ===== Navbar ovanpå main ===== */
.navbar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 300px;
  height: calc(100vh - 60px);
  background: white;
  z-index: 200;
  @include gray-border(border-right);
}

/* ===== Scrollbart innehåll ===== */
.navWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  h2 {
    padding-left: var(--mantine-spacing-md);
  }
}

/* ===== Länkar ===== */
.navLinks {
  @include gray-border(border-bottom);

  .navBarLink {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;

    &:last-child {
      margin-bottom: var(--mantine-spacing-lg);
    }

    &.navLink {
      color: black;
      &:hover {
        @include hover-color;
      }
    }

    &.active {
      @include active-background;
      border-radius: 0;
      &:hover {
        @include active-background-hover;
        color: black;
      }
    }
  }
}
