@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as *;

.navOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 100;
}

.sideNav {
  position: fixed;
  top: var(--header-height, 60px);
  left: 0;
  width: 300px;
  height: calc(100vh - var(--header-height, 60px));
  background: white;
  z-index: 200;

  @include gray-border(border-right);
}

.sideNavInner {
  height: 100%;
  overflow-y: auto;
  padding-bottom: var(--mantine-spacing-lg);

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.sideNavLink {
  text-decoration: none;
  color: inherit;
}

.sideNavButton {
  width: 100%;
  text-align: left;
  padding: 0.6rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: background-color 0.15s ease;

  &:hover {
    // background-color: var.$gray2;
    @include hover-color;
  }
}

.sideNavLink.active .sideNavButton {
  background-color: var.$gray3;
  font-weight: 600;
}
