.eventDescription {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}

.eventInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .separator {
    margin: 0 0.25rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    .separator {
      display: none;
    }
  }
}
