@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as *;

.lastPanel {
  padding-bottom: 16px; /* extra padding på sista panelen */
}

.accordionLink {
  text-decoration: none;
  color: inherit;
  display: block;

  &.active {
    font-weight: 600;
  }

  &:hover {
    @include hover-color;
  }
}
