@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as *;

.accordion {
  font-size: smaller;
}

.lastPanel {
  padding-bottom: var(--mantine-spacing-md);
}

.accordionLink {
  text-decoration: none;
  color: inherit;
  display: block;

  &.active {
    @include active-font-weight;
  }

  &:hover {
    // @include hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}
