@use '../../styles/variables.scss' as var;
@use '../../styles/mixins.scss' as *;

.accordion {
  font-size: smaller;
}

.lastPanel {
  padding-bottom: var(--mantine-spacing-md);
}

.accordionLink {
  text-decoration: none;
  color: inherit;
  display: block;

  &.active {
    @include active-font-weight;
  }

  &:hover {
    // @include hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.accordionControl {
  padding: 0 var(--mantine-spacing-xs);
  background-color: transparent;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: var.$lightred;
  }
}
