.modal-title-group {
  flex: 1;
}

.modal-help-icon {
  margin-left: auto;
}

.modal-scrollable-body {
  &::-webkit-scrollbar {
    display: none;
  }
}

.payment-options-box {
  border-width: 2px;
  border-style: solid;
  border-color: var(--mantine-color-gray-3);
  background-color: white;
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: var(--mantine-spacing-xs);

  &.active {
    border-color: var(--mantine-color-red-6);
    background-color: var(--mantine-color-lightred-1);
  }
}
